@import "../libs/normalize";
@import "mixins";
@import "fonts";
@import "variables";
@import "grid";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "LatoRegular", Tahoma, sans-serif;
  font-size: var(--default-font-size);
  line-height: 1.7;
  background-color: #F2F5F9;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: relative;
  height: 95vh;
  background-color: var(--color-pink-light);
  background-image:
  linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)),
  url(../images/background.jpg);
  background-size: cover;
  background-position: top;

  &::after {
    content: "";
    background-image: url(../images/decorate.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 4rem;
  }

  &__text-box {
    @include absCenter;
    text-align: center;
  }
}

.heading-primary {
  margin-bottom: 6rem;
  color: var(--color-gray-light);

  &--main,
  &--sub {
    display: block;
  }

  &--main {
    font-family: "FauxHanamin", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    z-index: 999;
  }

  &--sub {
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    left: -80px;
    top: 45px;
    z-index: -1;
    width: 170px;
    height: 170px;
    background-image: url(../images/blossom_1.png);
    background-size: cover;
    animation: bob 5s infinite;
    animation-delay: 1.25s;
  }

  &::after {
    content: "";
    position: absolute;
    right: -80px;
    top: -30px;
    z-index: -1;
    width: 180px;
    height: 180px;
    background-image: url(../images/blossom_2.png);
    background-size: cover;
    animation: bob 5s infinite;
  }

}

@keyframes bob {
  0% {
      transform: translateY(0)
  }

  50% {
      transform: translateY(10px);
  }

  to {
      transform: translateY(0)
  }
}

.btn {
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    padding: 1.3rem 5rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 0px 30px 30px;
    @include main-transition(.2s);
  }

  &:hover {
    transform: translateY(-3px);
  }

  &--tour {
    color: var(--color-gray-light);
    background-color: var(--color-pink);
  }
}

.about-tours {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.heading-secondary {
  position: relative;
  display: block;
  margin-bottom: 8rem;
  font-size: 3.5rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-pink);
}

.heading-tertiary {
  font-family: 'LatoRegular', Tahoma, serif;
  font-size: 2rem;
  font-weight: normal;
  color: var(--color-pink);
}

.paragraph {
  margin-top: 1rem;
  font-size: var(--default-font-size);
  color: var(--color-gray);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.composition {
  position: relative;
  top: 60px;
  &__photo {
    position: absolute;
    width: 55%;
    z-index: 10;
    transition: all .4s;
    border-radius: 0px 30px 30px;
    &--p1 {
      left: 0;
      top: 0;
    }
    &--p2 {
      right: 0;
      top: 4rem;
    }
    &--p3 {
      left: 20%;
      top: 12rem;
    }
    &:hover {
      z-index: 20;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem var(--color-white);
    }
  }
  &:hover &__photo:not(:hover) {
   transform:  scale(.5);
  }
}

.features {
  position: relative;
  top: 100px;
  padding-top: 26rem;
  padding-bottom: 26rem;
  background-color: var(--color-pink-light);
  background-image:
  linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)), url(../images/town.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #F2F5F9;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-image: url(../images/decorate-bottom.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url(../images/decorate.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.feature-box {
  background-color: #ffffff;
  border-radius: 10px;
  min-height: 413px;

  &__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__header {
    margin: 0;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    font-family: "LatoBold", Tahoma, sans-serif;
    font-size: 1.5rem;
    color: var(--color-pink);
    text-align: center;
  }

  &__text {
    margin: 0;
    padding: 1.7rem;
    padding-top: 0;
    font-size: 1.5rem;
    color: var(--color-gray);
    line-height: 1.5;
  }

}